
.main-component {
    width: 100%;
    height: 100%;
    // padding-bottom: 3rem;
  
    .header {
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1.5%;
      .left{
        font-size: 21px;
        color: darkblue;
        background: aliceblue;
      }
      .right{
          color: white;
          margin-right: 1.5rem;
          .btn-group{
              .add-button{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: #fdfdff;
                  font-size: 14px;
                  padding: 0 13px;
                  border: 1px solid #5285FA;
                  margin-right: 5px;
                  background: #fbae1f;
                  min-height: 1.75rem;
                  cursor: pointer;
                
                  img {
                    width: 13px;
                    margin-right: 8px;
                  }
              }
          }
      }
    }
  
    .list-group {
      margin: 0 1.5% 0.5rem;
  
      .list-container {
        height: calc(100vh - 10rem);
        overflow: auto;
      }
    }
  }
  